*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        font-family: "Plus Jakarta Sans",sans-serif;
}
.purchase-icon:hover{
    background-color: #2b5cfd !important;
}
.hidden{
    display: none !important;
    /* transition:all 1s ease-in; */
}
.active{
    color: #407afe !important;
    border-bottom: 2px solid #407afe;
}
header{
    z-index: 10;
    height: 100px;
}
.heading{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
@media (max-width:992px){
    .btn{
        display: none;
    }
    header{
        height: auto;
    }
    
}

/* main */
main{
    padding-top: 20px;
}

.landing-page{
    background-image:url('https://nioland.themenio.com/assets/images/blur/c.png'),url('https://nioland.themenio.com/assets/images/shape/geo-2.png'),url('https://nioland.themenio.com/assets/images/blur/d.png');
    /* filter: opacity(2); */
    background-size: cover;
}
.landing-page::before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    opacity: .2;
    background-image: url('https://nioland.themenio.com/assets/images/inside-pages/bg/landing-bg.png');
}
.label{
    width: 32%;
    background-color: #e6ebff ;
    color: #407afe;
    border: 1px solid #407afe;
}
.para{
    color: #8893ab;
    font-size: 20px;
}
.image-container{
    width: 80%;
    margin-bottom: 40px;
}
.image-content{
    width: 10%;
    background-color: white;

}

@media (min-width:760px){
    .image-land-left{
        position: absolute;
        top: 110px;
        left: -110px;
    }
    .image-land-right{
        position: absolute;
         top: 110px;
        right: -110px;
    }
    .main-image{
        position: relative;
        z-index: 2;
    }
}
@media (max-width:760px) {
    .heading{
    font-size: 1.7rem;
    font-weight: 500;
}
}
/* section modern home */
.modern-home{
    padding-top: 100px;
}
.modern-heading{
    font-size: 50px;
}
.modern-home p{
    font-size: 27px;
    color: #8893ab;

}
.ul-list li a{
    font-size: 30px;
    font-weight: 500;
    color: #565d69 !important;
    padding-bottom: 10px;
}

.modern-cart{
    height: 500px;
    width: auto;
}
.modern-cart img{
    height: 80%;
    margin-bottom: 25px;
}
.modern-cart p{
    color: black;
    font-weight: 600;
}
@media (max-width: 760px){
    .ul-list li a{
        margin-left: 5px;
        font-size: 20px;
    }
}
/* react version */
.react-section{
    background-color: #0a1425;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* background-image: url('https://nioland.themenio.com/assets/images/blur/g.png') */
}
.react-section-info{
        position: relative;
}
.react-info{
    height: 100%;
    width: 100%;
    position: absolute;
}

 .react-info::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    width: 100%;
    height: 400px;
    background-size: contain;
    background-image: url(https://nioland.themenio.com/assets/images/blur/f.png);
    background-repeat: no-repeat;
}
.react-info::after{
    content: "";
    right: -12px;
    background-position: right;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 400px;
    background-image: url(https://nioland.themenio.com/assets/images/blur/g.png);
    background-repeat: no-repeat;
} 
.react{
    position: relative;
    z-index: 2;
}
/* moder built */
.modern-built{
    width: 33%;
}
.modern-built img{
    width: 100%;
    margin-bottom: 10px ;
}
@media (max-width:760px){
    .modern-built{
        width: 50%;
    }
}
 @media (max-width:500px){
    .modern-built{
        width: 100%;
    }
}
/* Miscellaneous */
.right-miscellaneous{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list-error i::before{
    color: #407afe;
}
 @media (max-width:993px) {

.miscellaneous-list a{
        font-size: 16px !important;
    }
}
@media (max-width:760px) {
    .miscellaneous{
        flex-direction: column ;
    }
    .left-miscellaneous{
        width: 100% !important;
    }
    .miscellaneous-list a{
        font-size: 15px !important;
    }
    .right-miscellaneous{
        width: 100% !important;
    }
}

/* feature */
.feature{
    margin-top: 100px;
}

.impressive-feature{
    height: 400px;
}
.impressive-feature p{
    color:#565d69 
}
.impressive-feature .explore-box{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.feature-section{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .icon-feature{
    width: 60px;
    height: 60px;
 
 }
.background{
z-index: -2;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,144,178,1) 0%, rgba(104,163,200,0.18764002182904416) 0%, rgba(92,169,207,0.5713935232296043) 100%, rgba(0,212,255,1) 100%);
}
 .left-feature p,.card-body p{
    color: #7c8086
;
 }
  .card-image,.small-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }
 .card-image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 74px;
    width: 100px;
    height: 200px;    
    background: linear-gradient(135deg, rgba(241, 239, 239, 0.2), rgba(255, 255, 255, 0) 100%);
    
 }

.right-feature{
    background-color: #eaefff;
}
.small-card{
    width: 31%;
}
@media (max-width:760px){
    .explore-box{
        width: 100% !important;
    }
    .left-feature{
        width: 100% !important;
    }
    .right-feature{
        width: 100% !important;
    }
    .card-image{
        /* flex-direction: column; */
        width: 100% !important;
    }
    .card-info{
    flex-direction: column;
        width: 100% !important;
    }
}
@media (max-width:1000px){
    
    .small-card{
    width: 45%;
}

}
@media (max-width:500px){
    
    .small-card{
    width: 100%;
}
}
/* footer */
footer{
    background-color: #122544;
    color: #525e73;    
}
footer span{
    color: #fff;
}
/* icon up */
.icons-up{
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    transition:all 1s ease-in ;
}
.icons-up:hover{
    scale: 1.2;
}
.icon-up i{
    font-size: 35px;
    cursor: pointer;
}

.icon-up i:hover{
    text-decoration: none;
    /* scale: 1.3; */
}

/* market icons */
.market{
    /* position: fixed; */

    top:50%;
    right: 0%;
    transform: translateY(-50%);

}
